version: "3.7"

services:
  elasticsearch:
    image: elasticsearch:7.16.3
    container_name: elasticsearch
    hostname: elasticsearch
    restart: always
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearch-data-volume:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

  kibana:
    container_name: kibana
    image: kibana:7.16.3
    restart: always
    hostname: kibana
    environment:
      SERVER_NAME: kibana
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    ports:
      - "5601:5601"
    links:
      - elasticsearch:elasticsearch
    depends_on:
      - elasticsearch

  logstash:
    container_name: logstash
    image: logstash:7.16.3
    restart: always
    hostname: logstash
    links:
      - elasticsearch:elasticsearch
    volumes:
      - ./logstash:/config-dir
    ports:
      - 9300:9300
    command: -f /config-dir/port-listener.conf


volumes:
  elasticsearch-data-volume:
    driver: local
